
#one{
    width: 600px;
    height: 200px;
    border: 5px solid gray;
    padding: 10px;
    margin-top: 15px;
    

}
#two{
    width: 600px;
    height: 200px;
    border: 5px solid gray;
    padding: 10px;
    margin-top: 15px;
    

}
#three{
    width: 600px;
    height: 200px;
    border: 5px solid gray;
    padding: 10px;
    margin-top: 15px;
   
    


}
#four{
    width: 600px;
    height: 200px;
    border: 5px solid gray;
    padding: 10px;
    margin-top: 15px;
   
    


}
#five{
    width: 600px;
    height: 200px;
    border: 5px solid gray;
    padding: 10px;
    margin-top: 15px;
   
    


}
#six{
    width: 600px;
    height: 200px;
    border: 5px solid gray;
    padding: 10px;
    margin-top: 15px;
   
    


}
#seven{
    width: 600px;
    height: 200px;
    border: 5px solid gray;
    padding: 10px;
    margin-top: 15px;
   
    


}
#eight{
    width: 600px;
    height: 200px;
    border: 5px solid gray;
    padding: 10px;
    margin-top: 15px;
   
    


}
#nine{
    width: 600px;
    height: 200px;
    border: 5px solid gray;
    padding: 10px;
    margin-top: 15px;
   
    


}
#ten{
    width: 600px;
    height: 200px;
    border: 5px solid gray;
    padding: 10px;
    margin-top: 15px;
   
    


}
#eleven{
    width: 600px;
    height: 200px;
    border: 5px solid gray;
    padding: 10px;
    margin-top: 15px;
   
    


}
#twelve{
    width: 600px;
    height: 200px;
    border: 5px solid gray;
    padding: 10px;
    margin-top: 15px;
   
    


}